<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="DataSource" class="atmNormalConfig.DataSource">
        <constructor-arg value="customers.txt"/>
    </bean>
    <bean id="Bank" class="atmNormalConfig.Bank">
        <constructor-arg ref="DataSource"/>
    </bean>
    <bean id="ATM" class="atmNormalConfig.ATM">
        <constructor-arg ref="Bank"/>
    </bean>
    <bean id="ATMSimulator" class="atmNormalConfig.ATMSimulator">
        <constructor-arg ref="ATM"/>
    </bean>





</beans>
